.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #dfe1e5 0.6%, #dfe1e5 99.4%);
}
.newTabIcon {
  position: absolute;
  top: 19px;
  left: 334px;
  width: 12px;
  height: 12px;
}
.tabIcon {
  position: relative;
  width: 256px;
  height: 34px;
}
.title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 239px;
  height: 20px;
}
.tabCloseIcon,
.tabTitle {
  position: absolute;
  top: 7px;
  left: 44px;
  width: 177px;
  height: 20px;
}
.tabCloseIcon {
  top: 13.09px;
  left: 228.07px;
  width: 7.93px;
  height: 7.93px;
}
.faviconReplaceMe {
  position: absolute;
  top: 9px;
  left: 19px;
  width: 18px;
  height: 16px;
  overflow: hidden;
}
.tab,
.tabsBar {
  position: absolute;
  top: 8px;
  left: 70px;
  width: 256px;
  height: 34px;
}
.tabsBar {
  height: 53.16%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 46.84%;
  left: 0;
}
.background2 {
  height: 100%;
  top: 0;
  background-color: var(--neutrals-white-100);
}
.background1,
.background2,
.separator {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.separator {
  height: 1.35%;
  top: 98.65%;
  background-color: var(--color-silver);
}
.background1 {
  height: 100%;
  top: 0;
}
.actionsIcon {
  position: absolute;
  top: 11.5px;
  left: 15.5px;
  width: 77.5px;
  height: 13px;
}
.addressBarBackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-300);
  height: 28px;
}
.secureIcon {
  position: absolute;
  top: 9px;
  left: 14px;
  width: 8px;
  height: 10.5px;
}
.wwwocbccom {
  color: var(--color-gray-200);
}
.urlTxt {
  line-break: anywhere;
  width: 100%;
}
.addressBar,
.url {
  position: absolute;
  height: 28px;
}
.url {
  width: calc(100% - 100px);
  top: 0;
  left: 34px;
  display: flex;
  align-items: center;
}
.addressBar {
  width: calc(100% - 152px);
  top: 4px;
  right: 44px;
  left: 108px;
}
.favoriteIcon,
.userIcon {
  position: absolute;
  height: 33.51%;
  width: 0.97%;
  top: 146.76%;
  right: 6.86%;
  bottom: -80.27%;
  left: 92.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.userIcon {
  height: 54.05%;
  width: 1.56%;
  top: 135.14%;
  right: 3.44%;
  bottom: -89.19%;
  left: 95%;
  object-fit: cover;
}
.menuIcon,
.toolbar {
  position: absolute;
  top: 11.6px;
  right: 20.5px;
  width: 3px;
  height: 13px;
}
.toolbar {
  height: 46.84%;
  width: 100%;
  top: 53.16%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--px-bold-upper-size);
  color: var(--color-gray-100);
}
.cleanshot20200225At1502 {
  position: absolute;
  top: 2px;
  left: 74px;
  width: 68px;
  height: 52px;
}
.coreGoogleChromeToolbar {
  position: relative;
  width: 1280px;
  height: 79px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
  font-family: var(--font-sf-pro-text);
}
