@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-ibm-plex-mono: "IBM Plex Mono";
  --font-sf-pro-text: "SF Pro Text";
  --px-semibold: "Open Sans";
  --font-noto-sans-sc: "Noto Sans SC";

  /* font sizes */
  --px-bold-upper-size: 14px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-4xs: 9px;
  --px-semibold-size: 16px;
  --px-bold-size: 20px;

  /* Colors */
  --neutrals-white-100: #fff;
  --color-gray-100: #767676;
  --color-gray-200: #202124;
  --neutrals-white-80: rgba(255, 255, 255, 0.8);
  --neutrals-white-10: rgba(255, 255, 255, 0.1);
  --neutrals-white-70: rgba(255, 255, 255, 0.7);
  --neutrals-white-50: rgba(255, 255, 255, 0.5);
  --color-whitesmoke-100: #f7f9fc;
  --color-whitesmoke-200: #f7f7f7;
  --neutrals-off-white: #f5f5f5;
  --color-whitesmoke-300: #f1f3f4;
  --color-silver: #b6b6b6;
  --bb-neutrals-grey900: #39474e;
  --color-darkslategray-100: #3d4043;
  --color-darkslategray-200: #2f3c54;
  --neutrals-dark: #333;
  --color-slategray-100: #687081;
  --neutrals-grey-700-100: #5a707b;
  --neutrals-grey-100-100: #dce2e5;
  --neutrals-grey-200-100: #d7dadc;
  --neutrals-grey-100-30: rgba(220, 226, 229, 0.3);
  --neutrals-grey-200-50: rgba(215, 218, 220, 0.5);
  --color-gainsboro-100: rgba(223, 224, 227, 0.37);
  --color-steelblue: #1480b7;
  --neutrals-grey-400-100: #a4abb1;
  --functional-green-900: #319988;
  --functional-blue-900: #0084ff;
  --neutrals-grey-500-100: #7d909b;

  /* Gaps */
  --gap-2xl: 21px;
  --gap-11xs: 2px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-5xl: 24px;
  --gap-21xl: 40px;
  --gap-9xs: 4px;
  --gap-37xl: 56px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-137xl: 156px;
  --padding-21xl: 40px;
  --padding-base: 16px;
  --padding-7xs: 6px;
  --padding-xs: 12px;
  --padding-40xl: 59px;
  --padding-13xl: 32px;
  --padding-60xl: 79px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-sm: 14px;
  --br-8xs: 5px;
  --br-81xl: 100px;
  --br-5xl: 24px;
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-7xs: 6px;
}
